{% extends "base.html" %}
{% load static %}

{% block content %}
	<div class="navbar navbar-inverse navbar-fixed-top move-me" id="menu">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><img class="logo-custom" src="{%static 'media/logo.png'%}"></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li ><a style="color:#fff;" href="{%url 'main:home'%}">INICIO</a></li>
                    <li ><a style="color:#fff;" href="{%url 'main:home'%}">CONÓCENOS</a></li>     
                    <li ><a style="color:#fff;" href="{%url 'main:home'%}">CONTACTO</a></li>
                    <li ><a style="color:#fff;" target="_top"><i class="fa fa-phone"></i><span class="home-mail">Llámanos 63559341</span></a></li>
                </ul>
            </div>
           
        </div>
    </div>
    <!--{%if messages%}
    {% for message in messages %}
        <div class="{{message.tags}}">{{message}}</div>
    {% endfor %}
    {%endif%}-->
    <div class="container" style="padding-top:5%;">
    <div class="row">
        <div class="col-lg-6 col-dm-6 col-sm-12 col-xs-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="panel-title">Nombre</div>
                </div>
                <div class="panel-body">
                    <p>{{registro.nombre}}</p>
                </div>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="panel-title">Correo</div>
                </div>
                <div class="panel-body">
                    <p>{{registro.correo}}</p>
                </div>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="panel-title">Teléfono</div>
                </div>
                <div class="panel-body">
                    <p>{{registro.telefono}}</p>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-dm-6 col-sm-12 col-xs-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="panel-title">Plazo</div>
                </div>
                <div class="panel-body">
                    <p>{{registro.plazo}}</p>
                </div>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="panel-title">Tamaño</div>
                </div>
                <div class="panel-body">
                    <p>{{registro.tamano}} m</p>
                </div>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="panel-title">Fecha de registro</div>
                </div>
                <div class="panel-body">
                    <p>{{registro.fecha}} a las {{registro.hora}}</p>
                </div>
            </div>
        </div>
    </div>
    
	   <form action="{% url 'seguimiento:detalle' registro.id%}" method="POST" enctype="multipart/form-data">
		  {%csrf_token%}
        <div class="row">
          <div class="form-group">
              <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 text-center">
                <label for="comentario">Añadir un comentario</label>
                  {{comentariosform.coment}}
              </div>
              <label for="cita">Próxima cita:</label>
              <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 text-center input-group date" data-provide="datepicker">
                  {{editform.cita}}
                  <span class="input-group-addon" id="addon">
                      <i class="fa fa-calendar"></i>
                  </span>
              </div>
          </div>
          </div>
          <br>
          <input type="hidden" id="hidden" name="hidden">
          <input type="hidden" id="aidi" name="aidi" value="{{registro.id}}">
          <div class="row">
              <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 text-center">
                  <input type="submit" class="btn btn-success parapost" id="comentarioBtn" value="Agregar comentario" style="width:100%;">
              </div>
              <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 text-center">
                  <a class="btn btn-info showActualizar" style="width:100%;">Modificar cita</a>
                  <input type="submit" class="btn btn-info parapost actualizarCita" id="cita" value="Actualizar cita" style="width:100%;">
              </div>  
          </div>
        </form>
        <div class="row" style="padding-top:2%;">
            <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 col-lg-offset-1 col-md-offset-1">
            <div class="list-group">
                <a href="#" class="list-group-item active">
                    <h4 class="list-group-item-heading">Comentarios</h4>
                    <!--<p class="list-group-item-text">{{comentario.coment}}</p>-->
                  </a>
            {% for comentario in comentarios %}
                
                  <a href="#" class="list-group-item">
                    <h4 class="list-group-item-heading">{{comentario.fecha}}</h4>
                    <p class="list-group-item-text">{{comentario.coment}}</p>
                  </a>
                  
                
            {% endfor %}
             </div>
            </div>
        </div>  
    
</div>

{% endblock content %}

{% block otherscripts %}
    <script>
        $(document).ready(function(){
            $('.datepicker').datepicker({
              format: 'yyyy-mm-dd',
            });
            $('.actualizarCita').css("display","none");
            $('#comentario').removeAttr('required');
            $('.success').addClass("alert alert-success");
            $('.success').attr("role", "alert");
            $('.error').addClass("alert alert-danger");
            $('.error').attr("role", "alert");
            $('.datepicker').attr("disabled","true");
        });

        $(".parapost").on('click',function(){
            var id = $(this).attr('id');
            console.log(id);
            $("#hidden").attr("value",id);
        });

        $(".showActualizar").on('click',function(){
            $(this).css("display","none");  
            $('.actualizarCita').css('display',"block");
            $('#cita').removeAttr('readonly required disabled');

        });


    </script>
{% endblock otherscripts %}