{% extends "base.html" %}
{% load static %}

{% block content %}

	<div class="navbar navbar-inverse navbar-fixed-top move-me" id="menu">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><img class="logo-custom" src="{%static 'media/logo.png'%}"></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li ><a style="color:#fff;" href="{%url 'main:home'%}">INICIO</a></li>
                    <li ><a style="color:#fff;" href="{%url 'seguimiento:registros'%}">REGISTROS</a></li>     
                    <li ><a style="color:#fff;" href="{%url 'ventas:finalizadas'%}">VENTAS FINALIZADAS</a></li>
                    <li ><a style="color:#fff;" href="{%url 'ventas:create'%}">REGISTRAR VENTA</a></li>
                    <li ><a style="color:#fff;" href="{%url 'seguimiento:logout'%}">CERRAR SESION</a></li>
                </ul>
            </div>
           
        </div>
    </div>
    <div class="container" style="padding-top:5%;">
    {%if messages%}
    {% for message in messages %}
        <div class="{{message.tags}}">{{message}}</div>
    {% endfor %}
    {%endif%}
    <div class="page-header">
        <h2 class="text-center">Bienvenido a tu dashboard {{request.user.username}}</h2>
        <h4>Te presentamos tus últimas ventas realizadas</h4>
    </div>
    	<div class="panel panel-primary detailusertop">
    		<div class="panel-heading detailuser">Total de ventas finalizadas: {{ventas_realizadas|length}}</div>
    		<div class="panel-body">
    			<div class="list-group">
    				{% for venta in ventas_realizadas %}
                          <div class="list-group-item clearfix">
                            <span class="pull-left">
                            <h4 class="list-group-item-heading">{{venta.nombre}} {{venta.apellidos}}</h4>
                            <p class="list-group-item-text">Tamaño de {{venta.tamano}} en un plazo de {{venta.plazo}}</p>
                            </span> 
                            <span class="pull-right text-center">
                                <a href="{%url 'ventas:finalizadas_detail' venta.id%}">
                                <button class="btn btn md btn-success">Ver detalle</button></a>
                                <p class="list-group-item-text">{{venta.fecha}} a las {{venta.hora}}</p>
                            </span>
                        </div>
    				{% endfor %}
    			</div>
    		</div>
    	</div>

    </div>
{%endblock content%}

{% block otherscripts %}
<script>
    $(".open-modal").on("click", function(){
        var nombre = $(this).attr('name');
        var id = $(this).attr('id');
        $("#nombremodal").text(nombre);
        var href = "/seguimiento/eliminar/";
        href = href + id;
        console.log(href);
        $(".link").attr('href',href);
    });
</script>
<script>
    $(document).ready(function(){
        $('.success').addClass("alert alert-success");
        $('.success').attr("role", "alert");
        $('.error').addClass("alert alert-danger");
        $('.error').attr("role", "alert");
    });
</script>
    
{% endblock otherscripts %}